.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.cards > ul > li {
    background-color: #f7fafa;
}

.cards .cards-card-body {
    margin: 10px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* Card text body styling */
.cards.people.block .cards-card-body {
    display: flex;
    flex-direction: column;
    background-color: #f7fafa;
    padding: 16px;
    text-align: left;
    flex-grow: 1;
}

.cards.people.block .cards-card-body p strong {
    display: block;
    font-size: 18px;
    padding: 24px 0 0;
    margin-bottom: 6px;
    font-family: gotham-bold, sans-serif;
    line-height: 14px;
}

/* Paragraph styling */
.cards.people.block .cards-card-body p {
    font-family: gotham-book, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    color: #0f3133;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.cards.people.block .cards-card-body h3 {
    font-family: GothamLight, sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    color: #0f3133;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
/* Button styling */
.cards.people.block .cards-card-body .button-container a.button.secondary {
    text-align: center;
    border: 1px solid #0f3133;
    background-color: #b2fff6;
    font-size: 15px;
    line-height: 24px;
    border-radius: 5px;
    padding: 11px 38px;
    font-family: "MontserratSemiBold", sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #0f3133;
    font-weight: 400;
}

.cards.people.block
    .cards-card-body
    .button-container
    a.button.secondary:hover {
    background-color: #f95e4a;
    color: white;
}

/* Center the button within container */
.cards.people.block .cards-card-body .button-container {
    text-align: left;
    margin-top: 28px;
    justify-content: end;
}

.cards.people.block ul li {
    display: flex;
    flex-direction: column;
    height: 100%;

    .cards-card-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        /* Ensure only button pushes to bottom */
        .button-container {
            margin-top: auto;
        }

        p {
            display: block;
            flex: 0 0 auto;
            margin-bottom: 8px;
        }

        ul {
            display: grid;
        }

        ul li {
            display: list-item;
            list-style-type: disc;
            font-family: GothamLight, sans-serif;
            color: #3f4145;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }
    }

    a {
        color: #0f3133;
        font-size: 15px;
        line-height: 21px;
        text-decoration: underline;
        font-family: "gotham-book", sans-serif;
    }
}

.cards.people.block.text-only ul li {
    & .cards-card-body {
        p {
            font-size: 16px;
        }
        p strong {
            line-height: 18px;
        }
        ul li {
            font-family: "gotham-book", sans-serif;
        }
    }
}

/* Variation 4 Cards */
.column-4.cards > ul > li img {
    width: 128px;
    height: 128px;
}

.cards.column-4 .cards-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards.people.block.column-4 .cards-card-body p {
    font-size: 1.125rem;
}

.cards.people.block.column-4 .cards-card-body p strong {
    font-size: 16px;
    font-weight: 600;
}

.cards.people.card-column-4.block {
    margin-bottom: 20px;

    .cards-card-body {
        padding: 32px 56px 32px 40px;
        margin: 0;
        p {
            font-family: GothamLight, sans-serif;
            color: #3f4145;
            font-size: 16px;

            line-height: 28px;
            font-weight: 400;
        }

        ul li {
            display: list-item;
            list-style-type: disc;
            font-family: GothamLight, sans-serif;
            color: #3f4145;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }
    }
    ul {
        grid-template-columns: repeat(auto-fill, minmax(241px, 1fr));
        gap: 16px;
    }
}

.cards.people.card-column-4.people-cta {
    .cards-card-body {
        p strong {
            padding-top: 0;
            color: #0f3133;
            font-size: 16px;
            line-height: 24px;
        }
        .button-container a.button.secondary {
            white-space: normal;
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.cards.people.block.column-4.people-icon {
    .cards-card-body {
        padding: 32px 56px 32px 40px;
        margin: 0;
        p strong {
            font-size: 18px;
            line-height: 21px;
        }
        p {
            line-height: 19px;
            a{
                color: #f95e4a;
            }
        }
        ul {
            margin: 0;
        }
        ul li {
            color: #0f3133;
            font-family: gotham-book, sans-serif;
            line-height: 19px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .cards.column-4 > ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .cards.people.card-column-4.people-cta {
        .cards-card-body {
            p strong {
                font-size: 21px;
                line-height: 32px;
            }
        }
    }

    .cards.people.block.column-4 .cards-card-body p strong {
        font-size: 19px;
        line-height: 22.8px;
    }

    .cards.people.block.column-4 .cards-card-body p {
        font-size: 16px;
    }
}

/* Variation 3 Cards */
.column-3.cards > ul > li img {
    width: 128px;
    height: 128px;
}

.cards.column-3 .cards-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards.people.block.column-3 .cards-card-body p {
    font-size: 1.125rem;
}

.cards.people.block.column-3 .cards-card-body p strong {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.cards.people.card-column-3.block {
    margin-bottom: 20px;

    .cards-card-body {
        padding: 32px 56px 32px 40px;
        margin: 0;
        p {
            font-family: GothamLight, sans-serif;
            color: #3f4145;
            font-size: 16px;

            line-height: 28px;
            font-weight: 400;
        }

        ul li {
            display: list-item;
            list-style-type: disc;
            font-family: GothamLight, sans-serif;
            color: #3f4145;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }
    }
    ul {
        grid-template-columns: repeat(auto-fill, minmax(241px, 1fr));
        gap: 16px;
    }
}

.cards.people.card-column-3.people-cta {
    .cards-card-body {
        p strong {
            padding-top: 0;
            color: #0f3133;
            font-size: 16px;
            line-height: 24px;
        }
        .button-container a.button.secondary {
            white-space: normal;
            font-size: 14px;
            line-height: 14px;
        }
    }
}

.cards.people.block.column-3.people-icon {
    .cards-card-body {
        padding: 32px 56px 32px 40px;
        margin: 0;
        p strong {
            font-size: 18px;
            line-height: 21px;
        }
        p {
            line-height: 19px;
            a{
                color: #f95e4a;
            }
        }
        ul {
            margin: 0;
        }
        ul li {
            color: #0f3133;
            font-family: gotham-book, sans-serif;
            line-height: 19px;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .cards.column-3 > ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards.people.card-column-3.people-cta {
        .cards-card-body {
            p strong {
                font-size: 21px;
                line-height: 32px;
            }
        }
    }

    .cards.people.block.column-3 .cards-card-body p strong {
        font-size: 20px;
        line-height: 28px;
    }

    .cards.people.block.column-3 .cards-card-body p {
        font-size: 16px;
    }
}