.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}

.columns-container:has(.actionbanner) {
    background-color: #3a3a3a;
    margin-bottom: 0;
}

.columns-container:has(.actionbanner) .columns > div > div {
    border-right: 1px solid #000000;
    padding: 20px;
    border-radius: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
    order: unset;
    a {
        font-style: normal;
        font-size: 18px;
        color: #ffffff;
        font-family: "MontserratSemiBold", sans-serif;
    }
    p {
        margin: 0;
    }
}

.columns-container:has(.actionbanner) .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
}
.columns-container:has(.actionbanner) .columns > div > div:last-child {
    border-right: none;
}
.columns-container:has(.footersocial) .columns > div {
    display: inline-block;
}
.columns-container:has(.footersocial) .columns > div > div {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 21px;
    color: #0f3133;
    gap: 20px;
    padding: 0;
    font-family: "gotham-book", sans-serif;

    a {
        display: inline-flex;
        align-items: center;
        text-decoration: underline;
        font-size: 15px;
        line-height: 21px;
        color: #0f3133;
        cursor: pointer;
        font-family: "MontserratSemiBold", sans-serif;
        margin: 0 16px;
        font-weight: normal;
    }
    a:first-child {
        margin: 0 16px 0 0;
    }

    picture img {
        width: 20px;
        height: auto;
        display: flex;
    }
}

.columns-container .columns.footersocial {
    margin: 10px 0;
}

.columns-container:has(.lumenicon) .columns {
    width: 192px;
}

.columns-container:has(.footersocial) .columns > div > div p {
    display: block;
    flex: 1 1 100%;
    margin: 0;
    line-height: 21px;
}

.columns-container:has(.footersocial) .columns > div:last-child > div p a {
    display: inline;
    margin: 0;
    text-decoration: underline;
    vertical-align: baseline;
    color: #0f3133;
    font-size: 12px;
    line-height: 21px;
    font-family: "gotham-book", sans-serif;
}

.columns.block > div > div {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    background: #fff;
    padding: 16px;
    background-color: transparent;
}

.columns-container:has(.lumen) {
    background-color: #0f3133;
    .columns > div {
        flex-direction: row;
        align-items: center;
    }
    .columns.block > div > div {
        width: fit-content;
    }
    h3 {
        font-family: gotham-bold, sans-serif;
        line-height: 45px;
        color: white;
        font-weight: 400;
    }
    p {
        font-size: 18px;
        font-family: "Gotham-Book", sans-serif;
        line-height: 32px;
        color: white;
    }
    .button-container a.button.secondary {
        text-align: center;
        border: 1px solid #0f3133;
        background-color: #b2fff6;
        border-radius: 5px;
        padding: 11px 38px;
        font-family: "GothamMedium", sans-serif;
        display: inline-block;
        text-decoration: none;
        color: #0f3133;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        cursor: pointer;
        text-transform: uppercase;
        word-break: break-word;
    }
    .button-container a.button.secondary:hover {
        background-color: #f95e4a;
        color: white;
    }
}

/* Recognition section */
.columns.recognition {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.columns-container:has(.recognition) {
    background-color: #fafafa;
    .columns img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

.columns.recognition.block.columns-2-cols > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-direction: row;
}

.columns.recognition.block.columns-2-cols > div > div:first-child {
    flex: 1 1 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.columns.recognition.block.columns-2-cols > div > div:first-child picture,
.columns.recognition.block.columns-2-cols > div > div:first-child img {
    height: 100%;
    object-fit: cover;
    display: block;
}

.columns.recognition.block.columns-2-cols > div > div:last-child {
    flex: 1 1 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.columns.recognition.block.columns-2-cols h2 {
    margin-top: 0;
    font-size: 28px;
    line-height: 45px;
    color: #0f3133;
    font-family: GothamBlack, sans-serif;
    strong {
        color: #f95e4a;
    }
}

.columns.recognition.block.columns-2-cols p {
    font-size: 18px;
    line-height: 27px;
    font-family: gotham-book, sans-serif;
    color: #3f4145;
}

/* Amazing Careers section */
.columns.amazing-careers.block.columns-2-cols {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.columns.amazing-careers.block.columns-2-cols > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    max-width: 1440px;
    background-color: #f2f0f1 !important;
    width: 1244px;
    margin: 0 auto;
    gap: 0;
}

.columns.amazing-careers.block.columns-2-cols > div > div:first-child {
    flex: 0 0 50%;
    display: flex;
    padding: 0;
}

.columns.amazing-careers.block.columns-2-cols > div > div:first-child picture,
.columns.amazing-careers.block.columns-2-cols > div > div:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    flex-grow: 1;
    border-radius: 0;
}

.columns.amazing-careers.block.columns-2-cols > div > div:last-child {
    padding: 0 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.columns.amazing-careers.block.columns-2-cols h3 {
    margin-top: 0;
    font-size: 30px;
    line-height: 36px;
    font-family: gotham-bold, sans-serif;
    color: #f95e4a;
    font-weight: 700;
}

.columns.amazing-careers.block.columns-2-cols p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-family: gotham-book, sans-serif;
}

.columns.amazing-careers .button-container a.button.secondary {
    text-align: center;
    border: 1px solid #0f3133;
    background-color: #b2fff6;
    border-radius: 3px;
    padding: 10px 50px;
    font-family: "GothamMedium", sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #0f3133;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    text-transform: uppercase;
    word-break: break-word;
}

.columns.amazing-careers .button-container a.button.secondary:hover {
    background-color: #f95e4a;
    color: #fff;
}
/* footer Social Section */

.columns.footersocial .columns-img-col p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.columns.footersocial .columns-img-col p a {
    display: inline-block;
    white-space: nowrap;
}

.columns.footersocial .columns-img-col p picture {
    display: inline-block;
    width: auto;
    height: 24px;
}

.columns.footersocial .columns-img-col p picture img {
    display: block;
    width: auto;
    height: 100%;
}

/* Universal Page */
.columns-container:has(.university-column) {
    background-color: #fafafa;
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
        gap: 0;
        flex-wrap: no-wrap;
        margin: 0 -8px;
        width: 100%;
    }
    .columns.block > div > div {
        max-width: 100%;
        position: relative;
        padding: 8px;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        p {
            margin: 0;
        }
    }
    .columns.block > div > div p:nth-of-type(2):last-of-type {
        padding: 16px 20px;
        margin: 0;
        font-family: gothamlight, sans-serif;
        font-size: 16px;
        line-height: 28px;
    }
}

.columns-container:has(.universal) {
    .columns-wrapper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 5px 5px 30px 5px;
    }

    /* Default Desktop: 4 columns */
    .columns > div {
        display: flex;
        flex-wrap: wrap; /* allow multiple rows */
        gap: 0;
    }

    .columns.block > div > div {
        flex: 0 0 25%; /* 4 columns */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        margin: 0;
        box-sizing: border-box;
        background-color: transparent;
    }

    .columns.block > div > div picture,
    .columns.block > div > div img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0;
    }

    .columns.block > div > div h2,
    .columns.block > div > div p:not(:has(picture)) {
        padding: 32px 56px 32px 40px;
        background-color: #f2f0f1;
        margin: 0;
    }

    .columns.block > div > div h2 {
        font-family: gotham-bold, sans-serif;
        padding-bottom: 0;
        font-size: 22px;
        font-weight: 600;
        line-height: 40px;
        color: red;
    }

    .columns.block > div > div p {
        font-family: GothamLight, sans-serif;
        font-size: 16px;
        line-height: 28px;
        color: #3f4145;
        margin: 0;
    }

    .columns.block > div > div > p:not(:has(picture)) {
        padding-top: 0;
    }
}

.columns-container .columns.universal.block.columns-4-cols > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0; 
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .columns-container:has(.university-column) .columns > div {
        display: flex; 
        flex-wrap: nowrap;
        gap: 16px;
    }

    .columns-container:has(.university-column) .columns > div > div {
        flex: 1 1 50%; 
        max-width: 50%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        box-sizing: border-box;
        padding: 8px;
    }

    .columns-container:has(.university-column) .columns > div > div picture,
    .columns-container:has(.university-column) .columns > div > div img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .columns-container .columns.universal.block.columns-4-cols > div {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */

@media (max-width: 768px) {
    .columns.recognition.block.columns-2-cols h2 {
        font-size: 22px;
        line-height: 40px;
    }
    .columns.amazing-careers.block.columns-2-cols h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .columns-container:has(.footersocial) .columns > div {
        flex-direction: column;
        display: flex;
    }
    .columns-container:has(.lumen) {
        .columns > div {
            flex-direction: column;
        }
        h3 {
            font-size: 22px;
            line-height: 40px;
        }
    }

    .columns-container:has(.universal) {
        .columns-wrapper {
            width: 100%;
        }
        .columns.block > div > div {
            flex: 0 0 50%; /* 2 columns */
        }
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
    .columns-container:has(.actionbanner) .columns > div {
        display: block;
    }
    .columns-container:has(.actionbanner) .columns > div > div {
        border-right: 0;
        border-bottom: 1px solid #000000;
        margin: 0 16px;
    }
    .columns.recognition.block.columns-2-cols > div {
        flex-direction: column;
    }
    .columns.recognition.block.columns-2-cols > div > div {
        flex: 1 1 100%;
    }
    .columns.recognition.block.columns-2-cols > div > div:last-child {
        padding: 20px;
    }
    .columns.amazing-careers.block.columns-2-cols > div {
        flex-direction: column;
        width: 100%;
        min-height: auto;
    }
    .columns.amazing-careers.block.columns-2-cols > div > div {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .columns.amazing-careers.block.columns-2-cols > div > div:last-child {
        padding: 20px;
    }
    .columns-container:has(.footersocial) .columns > div > div {
        a {
            width: 100%;
            justify-content: center;
            margin: 0 4px;
        }
        a:first-child {
            margin: 4px;
        }
    }
    .columns-container:has(.footersocial) .columns .columns-img-col p picture {
        display: block;
        margin: 10px 0;
    }

    .columns-container:has(.footersocial) .columns .columns-img-col a {
        width: auto;
    }
    .columns-container:has(.university-column) {
        .columns.block > div > div p:nth-of-type(2):last-of-type {
            padding: 16px 20px;
            margin: 0;
        }
        .columns > div {
            flex-direction: column;
        }
        .columns.block > div > div {
            width: 100%;
        }
    }
}

@media (min-width: 580px) and (max-width: 768px) {
    .columns-container .columns.universal.block.columns-4-cols > div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .columns-container .columns.universal.block.columns-4-cols > div {
        grid-template-columns: 1fr;
    }
}
