.card-video > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

.card-video > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

/* video column */
.card-video .card-video-video {
  width: 100%;
  line-height: 0;
  position: relative;
  aspect-ratio: 16 / 9;
}

.card-video .card-video-video iframe,
.card-video .card-video-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text column */
.card-video .card-video-body {
  padding: 16px;
}

.card-video .video-placeholder {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.card-video .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  background: white;
  cursor: pointer;
}

.card-video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid black;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}

