.card-video > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* card */
.card-video > ul > li {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

/* video wrapper */
.card-video .card-video-video {
    width: 100%;
    line-height: 0;
    position: relative;
    aspect-ratio: 16 / 9;
}

.card-video .card-video-video iframe,
.card-video .card-video-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text */
.card-video .card-video-body {
    padding: 0;
    text-align-last: left;
}

.card-video .card-video-body p {
    font-family: gotham-book, sans-serif;
    font-size: 15px;
}

.card-video .card-video-body p strong {
    color: #f95e4a;
    font-family: gothammedium, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

/* image placeholder */
.card-video .video-placeholder {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-video .video-placeholder > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

/* section title */
section.card-video-container h2 {
    font-family: GothamBlack, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    line-height: 32px;
    color: #000;
}

/* play button */
.card-video .video-placeholder-play button {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: 2px solid;
    background: white;
    cursor: pointer;
}

.card-video .video-placeholder-play button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 24px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid black;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
}

/* modal overlay */
.video-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* modal box */
.video-modal {
    position: relative;
    background: #000;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 95% !important;
}

.video-modal-content {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    width: 100% !important;
}

.video-modal-content iframe,
.video-modal-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* close button */
.video-modal-close {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    font-weight: 300;
    line-height: 1;
}

.video-modal-close:hover {
    background: none;
    opacity: 1;
    transform: scale(1.15);
}

/* Below 580px */
@media (min-width: 580px) {
    .card-video > ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet 768px */
@media (max-width: 1024px) and (min-width: 768px) {
    .card-video > ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .video-modal-close {
        top: -16px;
        right: -16px;
        font-size: 32px;
    }
}

/* Desktop 1024px */
@media (min-width: 1024px) {
    .card-video > ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
