/* card-video list/grid */
.card-video > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-video > ul > li {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

/* video wrapper */
.card-video .card-video-video {
    width: 100%;
    line-height: 0;
    position: relative;
    aspect-ratio: 16 / 9;
}

.card-video .card-video-video iframe,
.card-video .card-video-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text */
.card-video .card-video-body {
    padding: 0;
    text-align-last: left;
}

.card-video .card-video-body p {
    font-family: gotham-book, sans-serif;
    font-size: 15px;
}

.card-video .card-video-body p strong {
    color: #f95e4a;
    font-family: gothammedium, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

/* image placeholder */
.card-video .video-placeholder {
    width: 100%;
    height: 100%;
    position: relative;
}

.card-video .video-placeholder > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    img {
        width: 100%;
    }
}

/* section title */
section.card-video-container h2 {
    font-family: GothamBlack, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    line-height: 32px;
    color: #000;
}

.card-video .video-placeholder-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Remove default circle */
.card-video .video-placeholder-play button {
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background: url("https://cdn.phenompeople.com/CareerConnectResources/common/assets/images/image-placeholders/v-1686931928171-video_play.png")
        no-repeat center center;
    background-size: contain;
    cursor: pointer;
    padding: 0;
}

/* ---------- Modal overlay & box ---------- */
.video-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* modal box */
.video-modal {
    position: relative;
    background: #000;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: visible;
    width: 95% !important;
    border-radius: 6px;
}

/* responsive internal wrapper */
.video-modal-content {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
    width: 100% !important;
    z-index: 1;
}

.video-modal-content iframe,
.video-modal-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* - YOUTUBE STYLE CLOSE BUTTON --- */
.video-modal-close {
    position: absolute;
    top: -45px;
    right: 0;
    width: 27px;
    height: 27px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10010;
}

/* Remove existing text */
.video-modal-close::before,
.video-modal-close::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 32px;
    background-color: white;
    transform-origin: center;
}

.video-modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.video-modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.video-modal-close:hover {
    background-color: transparent;
}

/* wrapper */
.video-modal-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
}

.video-close-btn {
    display: none !important;
}

/* 1 column */
.card-video-1-col > ul {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
    .card-video-video {
        aspect-ratio: 3 / 1;
    }
}
/* 2 columns */
.card-video-2-col > ul {
    grid-template-columns: repeat(2, 1fr);
}

/* 3 columns */
.card-video-3-col > ul {
    grid-template-columns: repeat(3, 1fr);
}

/* 4 columns */
.card-video-4-col > ul {
    grid-template-columns: repeat(4, 1fr);
}
/* responsive tweaks */
@media (max-width: 767px) {
    .card-video-2-col > ul,
    .card-video-3-col > ul,
    .card-video-4-col > ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .video-modal {
        max-width: 95%;
        border-radius: 4px;
    }

    .video-modal-close {
        top: -45px;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .card-video-2-col > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-video-4-col > ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .card-video-2-col > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-video-3-col > ul {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-video-4-col > ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
