footer {
  background-color: #F2F0F1;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: 0 auto;
  max-width: 1440px;
  width: 1244px;
  padding: 40px 0 30px;
}

.footer-wrapper .footer > div {
  display: flex;
}

.footer-wrapper .footer > div .section .default-content-wrapper img {
  max-width: 100%;
  height: auto;
}

.footer-wrapper .footer > div .section .default-content-wrapper a {
  text-decoration: underline;
}
footer .footer .social p:first-of-type {
  display: flex;
  gap: 25px;
}

.footer-wrapper .footer > div .section.social .default-content-wrapper img{
  max-width: 2%;
  height: auto;
  display: flex;
  gap:20px;
}
footer .footer p {
  margin: 0;
 
}

.footer-wrapper .footer .section.footer-icon {
  width: 16%;
}

.footer-wrapper .footer .section.columns-container {
  width: 84%;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 0 30px;
  }
}
