footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

.footer-wrapper .footer > div {
  display: flex;
}

.footer-wrapper .footer > div .section .default-content-wrapper img {
  max-width: 100%;
  height: auto;
}

.footer-wrapper .footer > div .section .default-content-wrapper a {
  text-decoration: underline;
}
footer .footer .social p:first-of-type {
  display: flex;
  gap: 25px;
}

.footer-wrapper .footer > div .section.social .default-content-wrapper img{
  max-width: 2%;
  height: auto;
  display: flex;
  gap:20px;
}
footer .footer p {
  margin: 0;
  margin-left: 20px;
 
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
